.nav {// 좌측 GNB 안에 nav 영역
  height: 100%; width: 100%; overflow-y: auto; padding: 16px 10px; overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    background: transparent;
    padding: 2px;
  }
  &::-webkit-scrollbar-thumb {
      background-color: rgba(220, 220, 220, 0.5);
      border-radius: 3px;
      background-clip: padding-box;
      border: 3x solid transparent;
      &:hover {
          background-color: #dfdfdf; transition: all 0.05s;
      }
  }
  &::-webkit-scrollbar-track {
      background: transparent;
  }
  &_list {//메뉴 카테고리 리스트 영역
      position: relative; width: 260px;  gap: 8px; display: flex;  flex-direction: column;
      &_item {//카테고리 단일 메뉴
          font-size: 16px; position: relative; overflow: hidden;
          &_link{//카테고리 링크 부분
              color: $white; display: flex; align-items: center; height: 46px; position: relative; cursor: pointer; padding: 11px 12px 11px 18px;
              .nav_tit {
                  display: flex; position: relative; font-size: 16px; color:$black800; height: 16px; overflow: hidden; @include medium;
              }
              .nav-toolTip {opacity: 0; width: 0;}
              &.active {
                  @include bold;
              }
          }
          &:before { //아이콘 Active 및 hover 효과
              @include befo_after; left: 0; top: 0; width: 0; height: 46px; background: $primary900; z-index: 1;
          }
          &.active::before {
              width: 3px; 
          }
          &.active {
            .nav_list_item_link {
              border-radius: 0 10px 0 0; background-color: $primary50;
            }
            .nav_list_ico {
              position: relative;
              &:after {
                content: ""; width: 5px; height: 5px;  border-radius: 50%; background: #da0101; position: absolute; right: 0; top: 0;
              }
            }
            .nav_tit {
              color: $primary900; @include bold;
            }
            
            .sub-nav-menu {
              background: #EEF8FF; border-radius: 0 0 8px 0;
            }
          }
          &:after {
            @include befo_after; right: 30px; top: 25px; opacity: 0; background: url(../images/lnb) no-repeat center center; width: 10px; height: 10px; transform: rotate(-90deg);
          }
          &:hover::after {
                opacity: 1;
          }
          &.active:after {opacity: 1; transform: rotate(0); }
          &.noneSub {
              &:after {display: none;}
          }
          &:first-child {

            &:after {
              display: none;
            }
            &.active:after {
              display: none;
            }
          }

      }
      &_ico {//메뉴 아이콘 영역
         width: 24px; height: 24px; @include flex_center; margin-right: 20px;
      }

      .sub-nav-menu {//서브메뉴 영역
          position: relative;  display: flex; flex-direction: column; gap: 20px; padding: 10px 0 24px;
          &_item {//서브메뉴 단일
              font-size: 15px; position: relative; 
              .sub-nav-menu_link {//서브 카테고리 링크 부분
                  color: $bluegray800; display: flex; align-items: center; font-size: 15px; line-height: 15px; margin: 0 0 0 62px; position: relative;
              }
              &.active {//서브메뉴 active 경우
                  color: $primary900;
                  .sub-nav-menu_link {//서브 카테고리 링크 부분
                    color: $primary900; @include semi;
                  }
              }
          }
      }
  }
}

.ico {
    &_volume_up   {
        @include nav_ico(24px, "volume_up");
        &.on {
          @include nav_ico(24px, "volume_up_on");
        } 
    }
    &_board   {
        @include nav_ico(24px, "board_icon");
        &.on {
          @include nav_ico(24px, "board_icon_on");
        } 
    } 
    &_transfer   {
        @include nav_ico(24px, "transfer_icon");
        &.on {
          @include nav_ico(24px, "transfer_icon_on");
        } 
    } 
    &_library   {
        @include nav_ico(24px, "library_icon");
        &.on {
          @include nav_ico(24px, "library_icon_on");
        } 
    } 
    &_aprtment   {
        @include nav_ico(24px, "apartment_icon");
        &.on {
          @include nav_ico(24px, "apartment_icon_on");
        } 
    } 
}