$red: #d70d0d; //레드 컬러
$cn_red: #cd3535;

$red: #DA211F;
$red700 : #da211f;

$primary: #1962d0; 
$primary50: #e3f2ff;
$primary100: #bbdeff;
$primary200: #8Ecaff;
$primary700: #1a56db;
$primary800: #1962d0;
$primary900: #1943b1;

$blue: #1c64f2;
$navy: #2a497f;

$black50: #f7f7f7; 
$black100: #eee; 
$black200: #d0d0d0; 
$black300: #d0d0d0; 
$black400: #ababab; 
$black500: #8a8a8a; 
$black600: #666; 
$black700: #505050; 
$black800: #333; 
$black900: #121212;

$d-navy: #111928; //다크 네이비
$g-navy: #4b5563; //다크 네이비

$gray500: #6b7280;

$bluegray50: #f1f3f8;
$bluegray100: #dce2eb;
$bluegray200: #c6cfdc;
$bluegray300: #afbacc;
$bluegray400:#8999B0;
$bluegray500: #8999B0; //블루그레이 
$bluegray600: #7a899e;
$bluegray700: #687485;
$bluegray800: #57606E;
$bluegray900: #434a55;

$bluegreen800: #0e7d98;
$green: #0a964a;


$orange: #f94d17;
$white: #fff; //화이트
$black: #333333; // 블랙
$f_color1: #333; //폰트 컬러
$f_color2: #666; //폰트 컬러
$f_color3: #999; //폰트 컬러
$wh100: 100%; //100%
$font: "Pretendard"; //폰트 이름


// Breakpoints
$mobile: 720px;
$tablet: 1100px;
$desktop: 1101px;
